body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(74, 208, 231);
}
.button-56 {
    align-items: center;
    background-color: #86ffc2;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: auto; 
    justify-content: center;
    line-height: 1; 
    max-width: 100%;
    padding: 49px 98px; 
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: background-color 0.3s, color 0.3s; 
}
.button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 100%; /* Cambiado a 100% para cubrir todo el contenido */
    left: 0;
    width: 100%;
    position: absolute;
    top: 0;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: #74fac2;
    outline: 0;
}

.button-56:hover {
    outline: 0;
}

h1{
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: cornflowerblue;
}
.button {
    display: inline-block;
    padding: 24px 48px;
    font-size: 18px;
    color: white;
    background-color: rgb(134, 111, 6);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border: 3px solid #111;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(109, 139, 0);
    transition: background-color 0.3s, color 0.3s;
}
ul {
    list-style-type: none;
    padding: 0; 
}
li {
    margin-bottom: 10px;
}